
html,body {
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: url("https://nyc3.digitaloceanspaces.com/mountainvalleymotors/mvm%20logo.png") no-repeat center center;
  background-size: 100% auto;
  color: white;
}

.main {
text-align: center;
}

.main_header {
  position: absolute;
  left: 42vw;
  top: 58vw;
}

.service_description {
font-size: 40px;
text-align: center;
}

.footer_main {
position:absolute;
bottom:0;
width:100%;
height:60px;   /* Height of the footer */
background:gray;
text-align: center;
}